extends ../layout

block content
  h1 Hue
  a(href="/sessions/delete") Logoff
  p #{currentUser.nome}
  each user in users
    p #{user.id} - #{user.nome} - #{user.email} - #{user.endereco} - #{user.telefone} - #{user.cpf} - #{user.password}
    
